apiVersion: v1
kind: Service
metadata:
  name: dcn-api
  namespace: dcn
  labels:
    app: dcn-api
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
spec:
  type: LoadBalancer
  selector:
    app: dcn-api
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
      name: http
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800
